<div>
  <center>
    <nav class="dropdown-menu">
      <ul>
        <li>
          <a href="https://goraiding.com">Select survey language</a>
          <ul class="submenu">
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSf2HlDpeEw-n4cpaEsBaWNnDCTTzpNvkc1ecwsCwxWH18y38g/viewform?usp=sf_link">English</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc0xvfTv6KObj9qb-bBAI_ZopOKS-3VbwidLlH2iKQ5VBioJQ/viewform?usp=sf_link">日本語</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeAOEqOgmwmJmcvPWH6EgaLJ69eB5uNPx_w3o2R6Y9i72vXug/viewform?usp=sf_link">Español</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScSWN9U_k2FnOEJNcK-hU7Jfe7fkp2pntfpJ3Xh899qb6hnyQ/viewform?usp=sf_link">普通话</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdlIclLvu0M2IOlqQbe9qr-fuis1TUhGqNfbwjYtraXPbr1ZA/viewform?usp=sf_link">Português</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSconzNWjwpY__Kpax4cYT8K4I7S_gDFgo9w4-3izojjy0cvcQ/viewform?usp=sf_link">한국어</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd8cdxAmo6EtUJoN6DwUvZpHud3dsgQik1fGAABdHdIR_XbUg/viewform?usp=sf_link">Français</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdVQxXlO02szh3kMPvsFSyfUsVAfYnuBwfUGLAI-cqUEpRe2w/viewform?usp=sf_link">Italiano</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeUvLivZIyZmR7zqARQAihAoIvD_MSK_mp0OizmVrJytJUDpg/viewform?usp=sf_link">Deutsch</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfsYnpI1lPgZXGEKgJhFVgmpVhjS7ldW4SXkYCimzW1c7-TZA/viewform?usp=sf_link">العربية</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSef4ZNn9c12DsFcoWKvRl8l6ZNDLO09Wu2B27ovHEiXHdKHTQ/viewform?usp=sf_link">Русский</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSe7ctUqEqRqZJ7SmGqdex_KYtfjO2C0lIfIBtRXe2-Sk90obQ/viewform?usp=sf_link">Bahasa</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </center>
</div>
