{% if site.show_projects %}
  <h1 class="title"><span>{{site.projects_title}}</span></h1>

<p class="subtitle">
  Total surveys : Sum = value1 + value2 + ... + valueN </br>
</br>
  Participation : average = Σx / n </br>
</br>
  Player concerned about ESG : T / 3 Groups </br>
</br>
  Impact on overall game experience : T / 3 Groups </br>
</br>
  Player ratings : average = Σx / n </br>
</br>
  Importance of open communication : average = Σx / n  </br>
</br>
  Satisfaction : ((a₁ + a₂ + a₃ + a₄ + a₅ + a₆ + a₇) + (a₈ x 8) + 2) / 100 </br>
where: </br>
  a₁ to a₇ are the 7 averages </br>
  a₈ is the 8th average with 2 extra scores on total average </br>
  </br>
  Inclusion : (A + B) * T = AT + BT </br>
  total number of two groups is represented by T, the average of total submissions is represented by A, and the total number of two groups is represented by G </br>
 </br>
  Car usage : Σx / n </br>
  where Σx represents the sum of all values, and n represents the total number of values.</br>
  
</p>

{% endif %}


