<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <div class="piktowrapper-embed" data-uid="c2986eac40ea-pokemon-go-satisfaction-survey-result"></div><script>(function(d){var js, id="pikto-embed-js", ref=d.getElementsByTagName("script")[0];if (d.getElementById(id)) { return;}js=d.createElement("script"); js.id=id; js.async=true;js.src="https://create.piktochart.com/assets/embedding/embed.js";ref.parentNode.insertBefore(js, ref);}(document));</script>
  <p class="subtitle">
귀하께서는 주변 사람들에게 <a class="highlight-link" href="https://create.piktochart.com/output/c2986eac40ea-pokemon-go-satisfaction-survey-result" target="_blank" rel="noreferrer">
프레젠테이션 버전을 보여주고
</a> 싶으시면, 더 많은 공동 작업 옵션을 위해 <a class="highlight-link" href="https://docs.google.com/spreadsheets/d/1n_GxYFPeTbPFGWkpaUGptPk72pDG6cvYy33jcqUBn9o/edit?usp=sharing" target="_blank" rel="noreferrer">
Google Sheets
</a> 파일 및 <a class="highlight-link" href="https://drive.google.com/drive/folders/1ZPKWmwhTcW_HFGlcSFokrVAoVWaBbVQS?usp=share_link" target="_blank" rel="noreferrer">
Google Analytics
</a> 폴더를 참조하실 수 있습니다.
</p>
