<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <div class="piktowrapper-embed" data-uid="c2986eac40ea-pokemon-go-satisfaction-survey-result"></div><script>(function(d){var js, id="pikto-embed-js", ref=d.getElementsByTagName("script")[0];if (d.getElementById(id)) { return;}js=d.createElement("script"); js.id=id; js.async=true;js.src="https://create.piktochart.com/assets/embedding/embed.js";ref.parentNode.insertBefore(js, ref);}(document));</script>
  <p class="subtitle">
  If you would like to
  <a class="highlight-link" href="https://create.piktochart.com/output/c2986eac40ea-pokemon-go-satisfaction-survey-result" target="_blank" rel="noreferrer">
    show the presentation
  </a> version to your surroundings. See the <a class="highlight-link" href="https://docs.google.com/spreadsheets/d/1n_GxYFPeTbPFGWkpaUGptPk72pDG6cvYy33jcqUBn9o/edit?usp=sharing" target="_blank" rel="noreferrer">
    Google Sheets version
  </a> for more collaborative options and 
  </a> version to your surroundings. And the <a class="highlight-link" href="https://drive.google.com/drive/folders/1ZPKWmwhTcW_HFGlcSFokrVAoVWaBbVQS?usp=share_link" target="_blank" rel="noreferrer">
    Google Analytics folder
  </a> if necessary.
</p>
