{% if site.show_projects %}
  <h1 class="title"><span>{{site.projects_title}}</span></h1>

<p class="description" data-aos="fade-down">
  모든 언어에 걸친 총 설문 조사 : Sum = value1 + value2 + ... + valueN </br>
</br>
  참여 : 평균 = Σx / n </br>
</br>
  ESG에 대한 우려를 가진 플레이어 : T / 3 그룹 </br>
</br>
  전체 게임 경험에 미치는 영향 : T / 3 그룹 </br>
</br>
  플레이어 평가 : 평균 = Σx / n </br>
</br>
  개방적인 커뮤니케이션의 중요성 : 평균 = Σx / n  </br>
</br>
  만족도 : ((a₁ + a₂ + a₃ + a₄ + a₅ + a₆ + a₇) + (a₈ x 8) + 2) / 100 </br>
어디서: </br>
  a₁에서 a₇까지는 7개의 평균 </br>
  a₈는 총 평균에 2개의 추가 점수를 가진 8번째 평균 </br>
  </br>
 </br>
  레이드에 차를 사용하는 사용자의 비율 : Σx / n </br>
  여기서 Σx는 모든 값의 합을 나타내고, n은 값의 총 개수를 나타냅니다.</br>
</br>
포괄성 지수 (I) = (접근성 점수 (A) + 적합성 점수 (S)) / 2
</br>
1. 접근성 점수 (A) : 장애인이나 지역 레이드 커뮤니티가 없는 사용자에게 활동이 얼마나 접근하기 쉬운지 평가합니다. </br>
2. 적합성 점수 (S) : 18세 미만의 아이를 둔 부모에게 활동의 적합성을 평가합니다. </br>
</br>
포괄성 지수 계산 :</br>
</br>
- 활동의 접근성 점수 (A)를 결정합니다.</br>
- 활동의 적합성 점수 (S)를 결정합니다.</br>
- 접근성 점수 (A)와 적합성 점수 (S)를 합산합니다.</br>
- 합계를 2로 나누어 포괄성 지수 (I)를 찾습니다.</br>
</br>
포괄성 지수는 장애인, 레이드 지역 커뮤니티가 없는 사용자 및 18세 미만의 아이를 둔 부모에게 활동이 얼마나 포활동이 얼마나 포괄적인지를 정량적으로 측정할 수 있는 지표를 제공합니다. 포괄성 지수가 높을수록 더 큰 포괄성을 나타냅니다.</br>
</br>
</p>

{% endif %}


