{% if site.show_projects %}
  <h1 class="title"><span>{{site.projects_title}}</span></h1>

<p class="description" data-aos="fade-down">
  Total surveys : Sum = value1 + value2 + ... + valueN </br>
</br>
  Participation : average = Σx / n </br>
</br>
  Player concerned about ESG : T / 3 Groups </br>
</br>
  Impact on overall game experience : T / 3 Groups </br>
</br>
  Player ratings : average = Σx / n </br>
</br>
  Importance of open communication : average = Σx / n  </br>
</br>
  Satisfaction : ((a₁ + a₂ + a₃ + a₄ + a₅ + a₆ + a₇) + (a₈ x 8) + 2) / 100 </br>
where: </br>
  a₁ to a₇ are the 7 averages </br>
  a₈ is the 8th average with 2 extra scores on total average </br>
  </br>
 </br>
  Car usage : Σx / n </br>
  where Σx represents the sum of all values, and n represents the total number of values.</br>
</br>
Inclusion Index (I) = (Accessibility Score (A) + Suitability Score (S)) / 2
</br>
1. Accessibility Score (A): Assess how accessible an activity is for users with disabilities. 
</br>
2. Suitability Score (S): Assess the suitability of an activity for parents with children under 18. </br>
To calculate the Inclusion Index:</br>
</br>
Determine the Accessibility Score (A) for the activity.</br>
Determine the Suitability Score (S) for the activity.</br>
Sum the Accessibility Score (A) and the Suitability Score (S).</br>
Divide the sum by 2 to find the Inclusion Index (I).</br>
The Inclusion Index will give you a quantitative measure of how inclusive an activity is for users with disabilities and parents with children under 18. A higher Inclusion Index score indicates greater inclusiveness.</br>
  </br>
</p>

{% endif %}


